@import url(variables.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
/* Colmunas principales del fondo de 3 la pagina */
body{
   background-color: black;
    display:grid;
    grid-template-columns: 1.1fr 1.7fr 1fr;
    color: var(--color3);
    font-family: "Mukta", sans-serif;
    height: 100vh;
    overflow-y: hidden;

}

/* Parte izquierda */
.album{
    display: flex;
    flex-direction: column;
    /* gap: 0.7rem; */
    padding: 0.5rem;
    width: 100%;
}

/* Apartado de busqueda y titulo */
.albumDescubrir {
    background-color: var(--color2);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
    padding: 2rem;
    font-family: "Mukta", sans-serif;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 540px;
}

.titulomusic{
  margin-top: -30px;
}


.titulomusic h1 {
  margin-bottom: 0;
}
.titulomusic br {
  display: block; /* Cambia el br a bloque */
  margin-top: -20px; /* Reduce el margen superior del br */
}

.titulonew{
  margin-top: -60px;

}
.albumDescubrir .titulomusic h1 {
  font-size: 45px; /* Tamaño del título "Discover" */
}

.albumDescubrir .titulonew h1 {
  font-size: 45px; /* Tamaño del título "New Music" */
}


.albumDescubrir h1{
    font-size: xx-large;    
    color: var(--color3)
    
}


.albumBuscar{
    display: flex;
    /* border: 1px solid red; */
    gap: 1rem;
    align-items: center;
  
   
}

/* ------------- Componente del input ---------------- */

  .input {
    width: 100%;
    background-color: #1a1a1a;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
  }
  
  .input:focus {
    animation: rotateShadow 2s infinite linear;
  }
  
  @keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 8px 1px #66d88c, 2px 2px 8px 1px #2b682e;
    }
    25% {
      box-shadow: -2px 2px 8px 1px #66d88c, 2px -2px 8px 1px #2b682e;
    }
    50% {
      box-shadow: 2px 2px 8px 1px #66d88c, -2px -2px 8px 1px #2b682e;
    }
    75% {
      box-shadow: 2px -2px 8px 1px #66d88c, -2px 2px 8px 1px #2b682e;
    }
    100% {
      box-shadow: -2px -2px 8px 1px #66d88c, 2px 2px 8px 1px #2b682e;
    }
  }

  

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: -20px;
  }
  

  



  .search__bt {
    border: none;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  
  .search__bt:hover {
    background-color: rgba(54, 54, 56, 1);
  }


  .search__btn {
    border: none;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__btn:hover {
    background-color: rgba(54, 54, 56, 1);
  }


/* ----------------------------- Albums parte izquierda ------------------------------ */

.album_box{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 350vh;
  width: 100%;
}

.album_mainBox{
  display: flex;
  flex-direction: row;
  /* border: 1px solid purple; */
  width: 100%;
  justify-content: baseline;
  align-items: center;
  height: 25vh;
  margin-top: 0%;
}

.album_mainBox:hover{
  cursor: pointer;
}

.album_images2{
  display: flex;
  flex-direction: row;
  /* border: 1px solid purple; */
  width: 100%;
  justify-content: baseline;
  align-items: center;
  height: 25vh;
  margin-top: 4%;
}

.album_Content:hover{
  cursor: pointer;
  border-radius: 5%;
  transform: scale(0.95);
  border: 1px solid #66d88c1e;
}

.album_images2:hover{
  cursor: pointer;
}

.album_images{
  display: flex;
  flex-direction: row;
  /* border: 1px solid lightblue; */
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  width: 40%;
  height: 25vh;
  margin-left: 6%;
  margin-top:0;
}

.album_images2{
  display: flex;
  flex-direction: row;
  /* border: 1px solid lightblue; */
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  width: 40%;
  height: 25vh;
  margin-left: 6%;
  margin-top:0;
}

.album_Content{
  display: flex;
  flex-direction: column;

  transition: transform 0.3s ease;
  border-radius: 5%;
}

.album_Content img{
  display: flex;
  width: 100%;
  height: 50%;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.album_Content h2{
  display: flex;
  font-size: 100%;
  align-items: center;
  height: 70%;
  width:100%;
  margin-top: 3%;
  text-overflow: ellipsis;
  overflow: hidden;
}




/* Top exitos */
.albumTop{ 
    display: flex;
    /* border: 1px solid yellow; */
    height: 100%;
    flex-direction: column;
   background-color: var(--color1);
   /* padding: 2rem; */
   border-radius: 1rem;
   /* gap: 2rem; */
   color: var(--color3);
   margin-top: -5%;

   
}

.selector {
  --color-letra-oscura: #323232;
  --color-letra-clara: #fff;
  --color-fondo: #fff;
  --color-principal: #323232;
  --color-secundario: #505050;
  position: relative;
  width: 200px;
  height: 30px;
  background-color: var(--color-fondo);
  border: 2px solid var(--color-principal);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -40px;
  margin-right: -60px;
  box-shadow: 4px 4px var(--color-principal);
}

.opcion {
  margin-right: 5px;
  width: 80.5px;
  height: 25px;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 34px;
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
}

.opcion:last-child {
  margin-right: 4px;
}

.opcion:hover {
  background-color: var(--color-secundario);
}

.opcion:hover .texto {
  color: var(--color-letra-clara);
}

.entrada {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.boton {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  color: var(--color-letra-oscura);
  
}

.entrada:checked + .boton {
  background-color: var(--color-principal);
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.entrada:checked + .boton .texto {
  color: var(--color-letra-clara);
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
}



.albumSubtitulo{
    display: flex;
    /* border: 1px solid brown; */
    flex-direction: row;
    padding-left: 0rem;
    padding-right: 2rem;
    font-size: x-large;
    margin-top: -15px;
    margin-top: 0px;
    margin-left: 0.5%;
    justify-content: space-between;
}

.albumSemana{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.479);
}

.albumSemana{
    display: flex;
    gap: 1rem;
}

.albumGaleria{
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: -250px;
    flex-direction: column;
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    overflow-y: auto; 
    /* border: 1px solid red; */
}

.albumGaleria img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}


.album__songs :nth-child(3){
  color: rgba(255, 255, 255, 0.521)
  
}
.album__songs {
 
  transition: padding 0.3s ease;

  border-radius: 1rem;

}
.album__songs:hover{
  background-color: #242424;
  padding: 0.4rem;
  cursor: pointer;
 
}

/* you may like this section  */

.albumTalVezTeGuste{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1.5rem;
    background-color: var(--color2);
    border-radius: 1rem;
    height: 200px;
    color: var(--color3)

}

.albumTalVezTeGusteTitulo{
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    
}



.albumTalVezTeGusteName :nth-child(2){
    color:rgba(255, 255, 255, 0.479)

}

.seccionGUstar {
  display: flex;
  flex-direction: column; /* Cambiado de 'row' a 'column' */
  margin-top: -20px;
  width: 350px;
  height: 130px;
  margin-left: -5px;
  align-items: center;
  overflow-y: auto; /* Cambiado de 'hidden' a 'auto' para habilitar el desplazamiento vertical */
}


.album__mayLikeSongs{
  display: flex;
  gap: 1rem;
  align-items: center;
  /* padding: 0.7rem; */
  padding-right: 0.7rem;
  width: 95%;
  border-radius: 1rem;
  margin-top: 10px;
  align-items: center;
  transition: padding 0.3s ease;

}
.album__mayLikeSongs:hover{
  background-color: #242424;
  padding: 0.4rem;
  cursor: pointer;
  
      

}



/* Segunda columna el centro  */

main{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 1.5em;
   background-color: var(--color2);
   border-radius: 1rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   justify-content: center

}

.frame__box{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bienvenidos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.bienvenidos img {
    width: 60px;
    height: 60px;
}

.bienvenidos {
    text-align: center;
    animation: fadeIn 2s ease-in-out; /* Agrega una animación llamada fadeIn */
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); } /* Desde la opacidad 0 y un desplazamiento hacia arriba */
    100% { opacity: 1; transform: translateY(0); } /* Hasta la opacidad 1 y sin desplazamiento */
}


.subti{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}



/* Columna de la derecha   */
.cancion{
    display: flex;
    flex-direction: column;
    
  margin: 0.5rem;

  padding: 0.5rem;
    gap: 2rem;
    border-radius: 1rem;
    background-color: var(--color2);
    /* padding-left: 2rem; */
  
   
  
  
}
/* titulo */
.cancionEncabezado{
    padding-top: 2rem;
    padding-left: 2rem;
    margin-top: -25px;
}

.cancionEncabezado h3{
    font-size: 35px;
  
}
.cancionEncabezado h5{
    padding-top: 2rem;
    
}

.cancionReproduciendoSiguiente{
    padding-left: 2rem;
    font-size: large;
    margin-top: -20px;
}

.cancionReproduciendoSiguiente h5{
  font-size: 20px;
}

/* Default */
.theme {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }
  
  .theme__fill,
  .theme__icon {
    transition: 0.3s;
  }
  
  .theme__fill {
    background-color: var(--bg);
    display: block;
    mix-blend-mode: difference;
    position: fixed;
    inset: 0;
    height: 100%;
    transform: translateX(-100%);
  }
  
  .theme__icon,
  .theme__toggle {
    z-index: 1;
  }
  
  .theme__icon,
  .theme__icon-part {
    position: absolute;
  }
  
  .theme__icon {
    display: block;
    top: 0.5em;
    left: 0.5em;
    width: 1.5em;
    height: 1.5em;
  }
  
  .theme__icon-part {
    border-radius: 50%;
    box-shadow: 0.4em -0.4em 0 0.5em hsl(0,0%,100%) inset;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    transition: box-shadow var(--transDur) ease-in-out,
          opacity var(--transDur) ease-in-out,
          transform var(--transDur) ease-in-out;
    transform: scale(0.5);
  }
  
  .theme__icon-part ~ .theme__icon-part {
    background-color: hsl(0,0%,100%);
    border-radius: 0.05em;
    top: 50%;
    left: calc(50% - 0.05em);
    transform: rotate(0deg) translateY(0.5em);
    transform-origin: 50% 0;
    width: 0.1em;
    height: 0.2em;
  }
  
  .theme__icon-part:nth-child(3) {
    transform: rotate(45deg) translateY(0.45em);
  }
  
  .theme__icon-part:nth-child(4) {
    transform: rotate(90deg) translateY(0.45em);
  }
  
  .theme__icon-part:nth-child(5) {
    transform: rotate(135deg) translateY(0.45em);
  }
  
  .theme__icon-part:nth-child(6) {
    transform: rotate(180deg) translateY(0.45em);
  }
  
  .theme__icon-part:nth-child(7) {
    transform: rotate(225deg) translateY(0.45em);
  }
  
  .theme__icon-part:nth-child(8) {
    transform: rotate(270deg) translateY(0.5em);
  }
  
  .theme__icon-part:nth-child(9) {
    transform: rotate(315deg) translateY(0.5em);
  }
  
  .theme__label,
  .theme__toggle,
  .theme__toggle-wrap {
    position: relative;
  }
  
  .theme__toggle,
  .theme__toggle:before {
    display: block;
  }
  
  .theme__toggle {
    background-color: hsl(48,90%,85%);
    border-radius: 25% / 50%;
    box-shadow: 0 0 0 0.125em var(--primaryT);
    padding: 0.25em;
    width: 6em;
    height: 3em;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color var(--transDur) ease-in-out,
          box-shadow 0.15s ease-in-out,
          transform var(--transDur) ease-in-out;
  }
  
  .theme__toggle:before {
    background-color: hsl(48,90%,55%);
    border-radius: 50%;
    content: "";
    width: 2.5em;
    height: 2.5em;
    transition: 0.3s;
  }
  
  .theme__toggle:focus {
    box-shadow: 0 0 0 0.125em var(--primary);
    outline: transparent;
  }
  
  /* Checked */
  .theme__toggle:checked {
    background-color: hsl(198,90%,15%);
  }
  
  .theme__toggle:checked:before,
  .theme__toggle:checked ~ .theme__icon {
    transform: translateX(3em);
  }
  
  .theme__toggle:checked:before {
    background-color: hsl(198,90%,55%);
  }
  
  .theme__toggle:checked ~ .theme__fill {
    transform: translateX(0);
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(1) {
    box-shadow: 0.2em -0.2em 0 0.2em hsl(0, 39%, 37%) inset;
    transform: scale(1);
    top: 0.2em;
    left: -0.2em;
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part ~ .theme__icon-part {
    opacity: 0;
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(2) {
    transform: rotate(45deg) translateY(0.8em);
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(3) {
    transform: rotate(90deg) translateY(0.8em);
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(4) {
    transform: rotate(135deg) translateY(0.8em);
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(5) {
    transform: rotate(180deg) translateY(0.8em);
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(6) {
    transform: rotate(225deg) translateY(0.8em);
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(7) {
    transform: rotate(270deg) translateY(0.8em);
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(8) {
    transform: rotate(315deg) translateY(0.8em);
  }
  
  .theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(9) {
    transform: rotate(360deg) translateY(0.8em);
  }
  
  .theme__toggle-wrap {
    margin: 0 0.75em;
  }
  
  @supports selector(:focus-visible) {
    .theme__toggle:focus {
      box-shadow: 0 0 0 0.125em var(--primaryT);
    }
  
    .theme__toggle:focus-visible {
      box-shadow: 0 0 0 0.125em var(--primary);
    }
  }


  .icono-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #385842;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 60px;
}

#toggleDark {
    font-size: 20px;
}

.cancionLista{
  display: flex;
  display: flex;
  flex-direction: column; /* Cambiado de 'row' a 'column' */
  /* border: 1px solid blue; */
  margin-top: -20px;
  width: 350px;
  height: 480px;
  margin-left: 5px;
  overflow-y: auto;
}

/* .songsSecondColum{
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-right: 0.7rem;
  width: 95%;
  border-radius: 1rem;
  margin-top: 10px;
  align-items: center;
  transition: padding 0.3s ease;

}
.songsSecondColum:hover{
  background-color: #242424;
  padding: 0.4rem;
  cursor: pointer;
} */
